@import '../../styles/colorSettings';

.navigateList {
   width: 100%;

   @media screen and (max-width: 750px) {
      &_type_hidden {
         display: none;
      }
   }
}

.navigateList__list {
   display: flex;
   list-style: none;
   margin: 0 auto;
   padding: 0;
   gap: 30px;

   &_type_mainMenu {
      flex-direction: column;
      align-items: center;
      gap: 35px;
      padding-bottom: 35px;
      position: relative;

      &::before {
         content: '';
         position: absolute;
         left: 0;
         bottom: 0;
         width: 100%;
         height: 100%;
         border-bottom: solid 1px rgba(128, 128, 128, 0.4);
         z-index: -1;
      }
   }
}

.navigateList__listItem {
   color: $grayishViolet;
   text-decoration: none;
   transition: color 0.25s linear;

   &:hover {
      color: hsl(0, 0%, 0%);
      cursor: pointer;
   }

   &_type_mainMenu {
      font-size: 20px;
      letter-spacing: -0.6px;
      color: white;

      &:hover {
         color: $grayishViolet;
      }
   }
}
