@import '../../styles/colorSettings';

.navigateList__list {
   display: flex;
   list-style: none;
   margin: 0 auto;
   padding: 0;
   gap: 30px;
}

.navigateList__listItem {
   color: $grayishViolet;
   text-decoration: none;
   transition: color 0.25s linear;

   &:hover {
      color: hsl(0, 0%, 0%);
      cursor: pointer;
   }
}
