@import '../../styles/colorSettings';
@import '../../styles/fontSettings';

@mixin fontSetting() {
   font-weight: 700;
   font-size: 16px;
   letter-spacing: -0.6px;
}

.header {
   @include fontSetting();
   width: 100%;
   max-width: 1440px;
   padding: 25px 150px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-sizing: border-box;
}

.header__navContainer {
   display: flex;
   gap: 45px;
   align-items: center;
}

.header__burgerIcon {
   color: $grayishViolet;
   width: 30px;
   height: 30px;
   opacity: 1;
   transition: color 0.25s linear;

   &:hover {
      cursor: pointer;
      color: $veryDarkViolet;
   }
}
