@import '../../styles/fontSettings';

.getStartedButton {
   font-family: $baseFont;
   font-weight: 700;
   font-size: 20px;
   letter-spacing: -0.6px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
}
